@media only screen and (max-width: 900px){
  #halalround {
    left: 80%;
    top: 7%;
    transform: scale(1.5);
  }
}

@media only screen and (max-width: 600px) {
  #halalround {
    left: 70%;
    top: 37%;
  }
}

