.reservation-input {
  width: 250px;
  height: 35px;
  background-color: black;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding-left: 5px;
  text-align: left;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  border: 1px solid white;
  /* font-feature-settings: 'tnum' on, 'lnum' on; */
  color: #aaaaaa;
  outline: none;
  z-index: 0;
}

.reservation-input::placeholder {
  color: transparent;
}

.reservation-label {
  position: absolute;
  left: 9px;
  top: 10px;
  font-size: 18px;
  color: white;
  /* background-color: black; */
  transition: all 0.25s;
}

.reservation-input:focus + .reservation-label, .reservation-input:not(:placeholder-shown) + .reservation-label{
    transform: translateY(-30px);
padding: 5px 7px;
    font-size: 16px;
    background-color: #0c0c0c;
    z-index: 10;
}

#reservebtn{
  width: 250px;
}

@media only screen and (max-width: 900px){
  .reservation-input{
    width: 200px;
    height: 30px;
  }
#reservebtn{
  width: 200px;
}
}


@media only screen and (max-width: 600px){
  .reservation-input{
    width: 300px;
    height: 40px;
  }
  #reservebtn{
    width: 300px;
  }
}


@media only screen and (max-width: 350px){
  .reservation-input{
    width: 230px;
    height: 35px;
  }
  #reservebtn{
    width: 230px;
  }
}