.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.just-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.just-evenly {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.just-around{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.just-start{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.just-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.col-align-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.col-just-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.col-start-end{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}


.col-start{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.align-start{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.align-end{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.row-reverse{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.col-end-start{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}